/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ROOT VARIABLES */
:root {
    --primary-color: #1b4d3e;
    --secondary-color: #f4f4f4;
    --accent-color: #ff7b00;
    --text-color: #333;
}

/* BODY */
body {
    font-family: roboto, sans-serif;
    color: var(--text-color);
    line-height: 1.6;
}

/* IMAGES */
img {
    width: 100%;
    display: block;
}

/* Header and Navigation*/
header {
    background: var(--primary-color);
    color: white;
    padding: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 50px;
}

nav {
    margin-top: 1rem;
}

.navigation {
    list-style: none;
    display: none;
    flex-direction: column;
}

.navigation li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    display: block;
}
.navigation li a {
    transition: background 0.3s, color 0.3s;
}

.navigation li a:hover {
    background: white;
    color: var(--primary-color);
    border-radius: 5px;
}


#menu-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
}

.navigation.open {
    display: flex;
}

/*Hero Section*/
.hero {
    position: relative;
}

.hero img {
    height: 300px;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 1rem;
    text-align: center;
}

.cta-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 0.7rem 1.2rem;
    background: var(--accent-color);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
}
.cta-btn {
    transition: background 0.3s, transform 0.2s;
}

.cta-btn:hover {
    background: #e66a00;
    transform: scale(1.05);
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}

h2 {
    margin-bottom: 0.5rem;
}

/* Weather   */
.weather p {
    margin: 0.3rem 0;
    font-size: 1rem;
}

.forecast ul {
    list-style: none;
    padding: 0;
}

.forecast li {
    background: #f4f4f4;
    margin: 0.3rem 0;
    padding: 0.5rem;
    border-radius: 5px;
}

/* Sportlite cards */
.spotlight-container {
    display: grid;
    gap: 1rem;
}

.spotlight-card {
    border: 1px solid #ddd;
    padding: 1rem;
    background: white;
    text-align: center;
}

.spotlight-card img {
    width: 80px;
    margin: 0 auto;
}

/* Footer */
footer {
    background: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
}

