/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ROOT VARIABLES */
:root {
    --primary-color: #1b4d3e;
    --secondary-color: #f4f4f4;
    --accent-color: #ff7b00;
    --text-color: #333;
}

/* BODY */
body {
    font-family: roboto, sans-serif;
    color: var(--text-color);
    line-height: 1.6;
}

/* IMAGES */
img {
    width: 100%;
    display: block;
}

/* Header and Navigation*/
header {
    background: var(--primary-color);
    color: white;
    padding: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 50px;
}

nav {
    margin-top: 1rem;
}

.navigation {
    list-style: none;
    display: none;
    flex-direction: column;
}

.navigation li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    display: block;
}

#menu-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
}

/*Hero Section*/
.hero {
    position: relative;
}

.hero img {
    height: 300px;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 1rem;
    text-align: center;
}

.cta-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 0.7rem 1.2rem;
    background: var(--accent-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}

h2 {
    margin-bottom: 0.5rem;
}

/* Sportlite cards */
.spotlight-container {
    display: grid;
    gap: 1rem;
}

.spotlight-card {
    border: 1px solid #ddd;
    padding: 1rem;
    background: white;
    text-align: center;
}

.spotlight-card img {
    width: 80px;
    margin: 0 auto;
}

/* Footer */
footer {
    background: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
}

/* Responsiveness */
@media (min-width: 768px) {

    /* NAVIGATION */
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #menu-btn {
        display: none;
    }

    /* MAIN GRID */
    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }

    .hero {
        grid-column: span 2;
    }

    .spotlight-container {
        grid-template-columns: repeat(3, 1fr);
    }
}