@media (min-width: 641px) {

    .discover-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "card1 card2"
            "card3 card4"
            "card5 card6"
            "card7 card8";
    }

    /* Hover effect */
    .card img:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
        filter: brightness(1.1);
    }

    .card button:hover {
        background-color: #036b1f;
    }
}