/* Desktop Layout */

@media screen and (min-width: 768px) {

    #menuBtn {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #navLinks {
        display: flex;
        flex-direction: row;
        background: none;
        gap: 1rem;
    }

    #members.grid {
        grid-template-columns: repeat(3, 1fr);
    }

}

/* join page layout*/
/* ===============================
   LARGE SCREENS
   =============================== */

@media screen and (min-width: 768px) {
    .join-page-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .join-page-container form {
        flex: 2;
    }

    .join-page-container .membership-cards {
        flex: 1;
        margin-top: 0;
        border-top: none;
        padding-top: 0;
    }
}
