/* Desktop Layout */

@media screen and (min-width: 768px) {

    #menuBtn {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #navLinks {
        display: flex;
        flex-direction: row;
        background: none;
        gap: 1rem;
    }

    #members.grid {
        grid-template-columns: repeat(3, 1fr);
    }

}

/* join page layout*/
/* ===============================
   LARGE SCREENS
   =============================== */

@media screen and (min-width: 768px) {
    .join-page-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .join-page-container form {
        flex: 1;
        margin-top: 2rem;
    }

    .join-page-container .membership-cards {
        flex: 1;
        margin-top: 3rem;
        border-top: none;
        padding-top: 0;
    }
    
   /* NAVIGATION */
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #menu-btn {
        display: none;
    }

    /* MAIN GRID */
    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }

}
