/* ========= LARGE SCREENS (1024px+) ========= */
@media (min-width: 1024px) {
     /* BRAND */
    .logo {
        height: 52px;
    }

    .brand-name {
        font-size: 1.8rem;
        letter-spacing: 0.3px;
    }

  
    /* ===== HERO ===== */


    .hero h2 {
        font-size: 2.6rem;
    }

    .hero p {
        font-size: 1.1rem;
    }

    /* ===== CATEGORY GRID ===== */
    .category-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    /* ===== CATEGORY CARDS ===== */
    .category-card {
        padding: 2rem;
    }

    /* ===== NAV SPACING ===== */
    .navigation {
        gap: 2rem;
    }
    .navigation a {
        padding: 0.7rem 1.4rem;
        font-size: 1.1rem;
    }
    .navigation,
    .navigation.open {
        display: flex;
        position: static;
        background: none;
    }


   /* EXPLORE PAGE */
   /* CARD GRID */

    #card-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) ;
    }
    /* fILTER BUTTONS */
    .filter-buttons {
        gap: 1.2rem;
        margin: 3rem 0;
    }
    /* CARD */
    .card {
        padding: 1.8rem;
    }

    .card h3 {
        font-size: 1.2rem;
    }
    .card p {
        font-size: 1.1rem;
    }

}



